.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.container div {
  padding: 3rem;
  background-color: green;
  border: 5px solid black;
}
