body {
  margin: 0;
}

.menu {
  background-color: #ff0063;
  text-align: center;
  margin-top: 0;
  padding: 25px;
  border: solid 4px grey;
  border-radius: 75px;
}
.menu a {
  text-decoration: none;
  border: solid 3px grey;
  border-radius: 75px;
  background-color: #eaf6f6;
  padding: 5px 15px;
  margin: 20px;
}
