.box1 {
  width: 500px;
  border: 10px solid red;
  padding: 30px;
  margin: 20px;
}
.box2 {
  box-sizing: border-box;
  width: 500px;
  border: 10px solid red;
  padding: 30px;
  margin: 20px;
}
/* * {
  box-sizing: border-box;
} */
